:root {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
}
a {
    color: rgb(00 250 200);
}
td {
    border: solid white 1px;
    background-color: rgba(33 33 33);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
